@import '../../style.scss';

.cv {
  embed {
    height: 100%;
    width: 100%;
    max-width: 800px;
  }

  &__download {
    display: block;
    margin-bottom: 40px;
    width: fit-content;
  }

  .skill-lists {
    display: block;
  }

  .speaking p:nth-child(odd) {
    font-weight: bold;
  }

  @media #{$desktopScreen} {
    @media #{$desktopMedWindow} {

      .skill-lists ul {
        width: 50%;
        display: inline-table;

      }
    }
    @media #{$desktopSmWindow} {

    }
    @media #{$desktopTinyWindow} {

    }
  }
}
