@import '../../style.scss';

.page {
  @include body-text;
  margin: 140px 20px;

  section {
    width: 100%;
    margin: 0 auto;
    max-width: 800px;
  }

  hr {
    margin: 80px auto;
    font-weight: 100;
  }

  p {
    @include body-text;
  }

  a {
    border-bottom: 1px dotted mediumslateblue;
    box-sizing: border-box;
    color: mediumslateblue;
    letter-spacing: 2px;
  }

  a:hover {
    border-bottom: 1px dashed mediumslateblue;
  }

  ul, ol {
    margin-bottom: 20px;
    white-space: initial;
  }
  

  li {
    margin-left: 40px;
    @include body-text;
    padding-left: 65px;
    margin-bottom: 20px;
  }

  .section-header {
    @include header-xl;
    text-align: left;
    margin-top: 40px;
    font-weight: bold;
  }
  .sub-section {
    margin-top: 40px;
    margin-left: 0px;
    text-align: left;
  }
  .title-header {
    @include body-text;
    line-height: 150%;
    margin: 20px 0;
  }
  .sub-header{
    @include body-text;
    font-style: italic;
  }

  .text-body {
    max-width: 680px;
  }

  .linky {
    text-decoration: none;
  }

  .projects p {
    font-size: 16px;
  }

  .projects p a {
    font-size: 16px;
  }

  .projects a {
    font-size: 20px;
  }

  .large-text {
    font-size: 3rem;
  }



  @media #{$desktopScreen} {
    @media #{$desktopMedWindow} {
      .page {
        margin: 120px 40px;
      }

      li {
        padding-left: 20px;
      }
    }
    @media #{$desktopSmWindow} {
        li {
          padding-left: 10px;
        }

      }
    @media #{$desktopTinyWindow} {

    }
  }
}

