//Mobile-size first

body, html {
  font-family: "Courier New", Courier, monospace;
  font-size: 5px;
}

*{
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}



a:hover { border-bottom: 4px solid black; }

pre {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: relative;
}

code {
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95rem;
  line-height: 50%;
  font-weight: 200;
}

.text-wrapper {
  position: absolute;
  top: 30%;
  left: 15%;

  font-size: 15rem;
  line-height: 150%;
  max-width: 20px;
}

.links-wrapper {
  display: none;
}

.sentence-letter { opacity: 0; }

#myName {
  display: inline-block;
  opacity: 0;
  transition: opacity 4000ms ease-in-out;
  font-size: 16rem;
  position: absolute;
  top: 10%;
  left: 15%;
  line-height: 120%;
  box-sizing: border-box;
}

// Desktop sizes
@media all and (min-device-width: 768px) {
  @media all and (min-width: 768px) {
    body, html {
      font-size: 10px;
    }

    .text-wrapper {
      top: 25%;
      max-width: 100%;
      margin: 0;
      font-size: 25px;
    }

    #myName {
      top: 60%;
      left: 50%;
      font-size: 5rem;
    }
  }
  // Desktop small window
  @media all and (max-width: 768px) {
    #myName {
      font-size: 12rem
    }

    .text-wrapper {
      font-size: 10rem;
    }
  }

  // Desktop Tiny window
  @media screen and (max-width: 468px) {
    #myName {
      max-width: 220px;
    }
  }
}
