.asciiFontSize{
  font-size: 10px;
  line-height: 5px;
}

.ascii-char:hover {
  background: dodgerblue;
  color: gold;
}

code {
  position: absolute;
}

.fade {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.text-wrapper {
  position: absolute;
  top: 25%;
  left: 15%;
}
