@import '../../style.scss';

* {
  margin: 0;
  padding: 0;
}

//Mobile-size first

a {
  position: relative;
  text-decoration: none;
  color: inherit;
}

// pre {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: relative;
// }

// code {
//   font-family: "Courier New", Courier, monospace;
//   font-size: 0.65rem;
//   line-height: 150%; // adjust this depending on the image
//   font-weight: 200;
//   max-width: 780px;
//   z-index: 1;
// }

.text-wrapper {
  position: absolute;
  top: 100px;
  left: 16px;
  @include body-text;
  max-width: 20px;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);

  @media #{$desktopMedWindow} {
    top: 32%;
    left: 15%;
  }
}

.ascii-letter {
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
}

.divider { display: block }

.links-wrapper {
  @include lead-text;
  display: none;
  pointer-events: none;

  h2 {
    display: inline-block;
  }
}

.sentence-letter { opacity: 0; }

#myName {
  display: block;
  opacity: 0;
  @include display-text;
  position: absolute;
  top: 32px;
  left: 16px;
  box-sizing: border-box;
  // cursor: pointer;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  @media #{$desktopMedWindow} {
    top: 60%;
    left: 50%;
  }
}

.hiddenText {
  position: absolute;
  left: 0px;
  top: 0px;
  color: transparent;
  width: 100%;
  user-select: none;
}

.mirrored {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg) translateZ(0);
 }

.suppressed { z-index: -1 }

// Desktop sizes
@media #{$desktopScreen} {
  @media #{$desktopMedWindow} {

    .text-wrapper {
      top: 25%;
      max-width: 100%;
      margin: 0;
      @include body-text;
    }

    .divider { display: inline }


  }
  // Desktop small window


}
