@import '../../style.scss';

.cv {

  .skill-lists {
    display: block;
  }

  .speaking p:nth-child(odd) {
    font-weight: bold;
  }

  @media #{$desktopScreen} {
    @media #{$desktopMedWindow} {

      .skill-lists ul {
        width: 50%;
        display: inline-table;

      }
    }
    @media #{$desktopSmWindow} {

    }
    @media #{$desktopTinyWindow} {

    }
  }
}
