//Colors
$backgroundColor: white;
$primaryFontColor: black;

//Breakpoints
$desktopScreen: 'screen and (min-device-width: 768px)';
$desktopXLWindow: 'screen and (min-width: 1280px)';
$desktopLargeWindow: 'screen and (min-width: 1056px)';
$desktopMedWindow: 'screen and (min-width: 768px)';
$desktopSmWindow: 'screen and (max-width: 768px)';
$desktopTinyWindow: 'screen and (max-width: 468px)';
$phoneScreen: 'only screen and (max-width: 768px) and (orientation: portrait)';

//Typography
$baseFontSize: 10px;

$projectBorder: dotted 1px black;

@mixin font-scale($scale) {
  font-size: $baseFontSize * $scale;
  line-height: 150%;
  font-weight: 200;
}

@mixin body-text {
  font-size: 16px;
  line-height: 150%;
  font-weight: 200;

  @media #{$desktopMedWindow} {
    font-size: 20px;
  }
}

@mixin header-xl {
  font-size: 32px;
  line-height: 150%;
  font-weight: bold;

  @media #{$desktopMedWindow} {
    font-size: 40px;
  }
}

@mixin display-text {
  font-size: 38px;
    line-height: 150%;
    font-weight: 200;

  @media #{$desktopMedWindow} {
    font-size: 50px;
  }
}

body, html {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: $primaryFontColor;
  background-color: $backgroundColor;
  height: 100%;
  -webkit-background-clip: text;
}

#root {
	overflow: hidden;
}
