//Colors
$backgroundColor: white;
$primaryFontColor: black;

//Breakpoints
$desktopScreen: 'screen and (min-device-width: 768px)';
$desktopMedWindow: 'screen and (min-width: 768px)';
$desktopSmWindow: 'screen and (max-width: 768px)';
$desktopTinyWindow: 'screen and (max-width: 468px)';

//Typography
$baseFontSize: 10px;

@mixin font-scale($scale) {
  font-size: $baseFontSize * $scale;
  line-height: 150%;
  font-weight: 200;
}
